<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("My Pet Store", "index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(" ", "Index", "Home", new { area = "" }, null)</li>
                    <li>  </li>
                    <li>
                        <form class="form-inline" id="signinform">
                            <div class="form-group">
                                <label class="sr-only" for="Username">Username</label>
                                <input type="text" class="form-control" id="Username" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="password">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Password">
                            </div>
                            
                            <button type="submit" class="btn btn-default" id="loginbtn">Sign in</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>*@


    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("My Pet Store", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Pets", "Index", "Pets", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                    
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My Pet Store Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
 
    <script>

        $(document).ready(function () {




            $("#loginbtn").click(function(){ 
                var username = $("#Username").val(); 
                var password = $("#password").val();
                

                $.ajax({
                    type: 'GET',
                    url: "Home/Login",
                    dataType: 'json',
                    headers :{ 
                        'Authorization': 'Basic ' + btoa(username + ':' + password)
                    },
                    success: function (data) {
                        $.each(data, function (Index, val) {
                            
                        })
                    },
                    complete: function(jqXHR) {
                        if(jqXHR.status == '401')
                        {
                            j.status  + ':' + jqXHR.statusText
                        }
                    }

                });
        
            });


            $("#btnImage").click(function () {

                alert("something"); 
            }); 
    
    
       });

    </script>

            

       

</body>
</html>
